body{
    background-color: blueviolet;
}
#title{
text-align-last: center;
margin-top: 20px;
}
h1{
    margin-top: 10px;
    margin-bottom: 0.5rem;
}
form{
    margin:auto;
    background-color:rgb(90,0,153);
    width: 60%;

}
label,input{
  margin:5px;
  margin-left: 4rem;
  color: white;
  font-size: 16px;
}

input{
  color: black;
}

#options{
  text-align: center;
}

#description{
  text-align-last: center;

}
